# Dependencies
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log
package-lock.json

# Docker
Dockerfile*
.dockerignore

# Git
.git
.gitignore

# Build outputs
dist
build

# Environment and local config
.env
.env.*
*.local

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
